KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

ISRDIR=$(ARCHDIR)/isr

include $(ISRDIR)/make.config

KERNEL_ARCH_OBJS=\
$(KERNEL_ARCH_ISR_OBJS) \
$(ARCHDIR)/seg.o \
$(ARCHDIR)/int.o \
$(ARCHDIR)/desc.o \
$(ARCHDIR)/page.o \
$(ARCHDIR)/boot.o \
$(ARCHDIR)/tty.o \
$(ARCHDIR)/mem.o
